*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: black;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
}
#card{
    height: 400px;
    width: 300px;
    border-radius: 10px;
    background-color: azure;
}